<section class="my-5 bg-red-100 md:max-w-[80%] lg:max-w-[60%] mx-auto drop-shadow-md">

    <div class="px-5 py-4 border-l-4 border-orange-600">
        <div class="flex flex-row justify-between items-center cursor-pointer" (click)="toggleBanner()">
            <h3 class="text-l font-semibold max-w-[80%]">
                This app might stop working soon (temporarily)
            </h3>
            <svg [ngClass]="{'rotate-180': this.showBanner}"
                class="fill-current h-6 w-6 transform transition-transform duration-700 font-semibold"
                viewBox="0 0 20 20">
                <path
                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                </path>
            </svg>
        </div>
        <div class="overflow-auto max-h-0 transition-all duration-300 text-base"
            [ngClass]="{'max-h-screen': this.showBanner}">
            <p class="my-2 mt-5">I started this project with an $18 grant from OpenAI. I quickly upgraded to the $120
                usage limit as the service got
                popular. Now, I am at 91% of that limit within three days of being "live". However, I cannot increase my
                limit beyond
                $120 at present.</p>
            <p class="mt-4">In the excitement to share my work with the world, I did not read OpenAI's Going
                Live guidelines,
                which states
                that I need
                prior production approval before serving outputs to more than five people.</p>
            <p class="mt-4">I have submitted a pre-launch review request and expect to hear back soon. Until then, I
                will leave the
                app up, and the
                API will stop returning user stories once we hit the usage limit.</p>

            <p class="mt-4">I can <a href="https://form.typeform.com/to/W6O2EfJc" target="_blank"
                    class="border-b-2 border-black">send you an email</a> when the app resumes operation, or you can
                follow me on <a href="https://twitter.com/trappedinkaran" target="_blank"
                    class="border-b-2 border-black">Twitter</a> for
                updates.
            </p>
            <p class="mt-4">Thank you all for your kind words and support.</p>
        </div>
    </div>

</section>