<section class="my-5 bg-stone-200 md:max-w-[80%] lg:max-w-[60%] mx-auto drop-shadow-md">
    <div class="p-5 border-l-4 border-orange-600">
        <h3 class="text-xl mb-5">Consider supporting me</h3>
        <p class="my-2">Thank you for being so enthusiastic about this project.</p>
        <p>OpenAI charges a few cents for each request, and I probably will not be able to self-fund the project at this
            rate
            (received over 4000 requests and growing).</p>
        <p class="mt-4">I want to keep this free for as long as possible, so please consider <a
                href="https://www.buymeacoffee.com/karan" target="_blank" class="border-b-2	border-black">buying me a
                coffee</a>
            if you
            can afford to.</p>
    </div>
</section>