<div class="container mx-auto max-w-[80%]">
    <div class="my-7">
        <h1 class="text-4xl sm:text-5xl md:text-6xl tracking-tight font-bold text-gray-900 text-center">
            <span class="block inline">Write My User Story</span>
            <span class="blinking-cursor">|</span>
        </h1>
    </div>


    <section>
        <h2 class="text-2xl text-center">AI-powered User Story Generator</h2>
    </section>

    <!-- <app-banner></app-banner> -->
    <app-buymeacoffee></app-buymeacoffee>


    <main class="flex flex-col text-center md:max-w-[80%] lg:max-w-[60%] mx-auto">
        <div class="my-6">
            <textarea (change)="textareaValueChange($event)" id="prompt" name="prompt" rows="7" maxlength="300"
                class="w-full p-4 drop-shadow-md" placeholder="Describe what the story is for"></textarea>
            <p class="text-left mb-2 text-gray-500">FYI: The prompt is limited to 300 characters.</p>
        </div>

        <div>
            <button type="button" *ngIf="!this.showSpinner" (click)="getCompletion()"
                class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded w-full shadow transition ease-in-out duration-150">Generate
                user story 🤖</button>
            <button type="button" disabled *ngIf="this.showSpinner"
                class="flex justify-center px-4 py-2 font-semibold w-full leading-6 shadow rounded text-white bg-orange-500 hover:bg-orange-400 transition ease-in-out duration-150 cursor-not-allowed">
                <svg class="animate-spin mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>Generating</button>
        </div>
        <div class="my-6" *ngIf="generatedUserStory && generatedUserStory !== '' ">
            <textarea id="story" name="story" rows="6"
                class="w-full p-4 drop-shadow-md">{{this.generatedUserStory}}</textarea>

        </div>
        <app-feedback *ngIf="askForFeedback" [prompt]="this.textareaValue" [completion]="this.generatedUserStory"
            (showFeedback)="resetFeedback($event)"></app-feedback>
    </main>
</div>